<h1>About Us</h1>

<p>
<h2>The Billy's Rental Company has been in business for over 10 years.</h2> 
<br><br/>
<h2>Need some wheels? We got you covered.</h2> 
<br><br/>
<h3>Contact us at: 1-708-111-1111
<br>
Email: Billy@gmail.com
<br>
Located in the USA</h3>
 </p>
<br><br/>
 <%= link_to 'Car Rental App', root_path, class:"btn btn-dark" %>