<h3>Home#Sport Cars</h3>
Sport Cars in stock!!!!!!!!!!!!

<br><br/>
<%= image_tag("2024-ford.jpg", size: "200x200", :alt => "rss feed") %>
2024 Ford F250

<br><br/>
<img src="..." class="rounded float-end" alt="...">

<br><br/>
<img src="..." class="img-fluid" alt="...">

<br><br/>
<picture>
  <source srcset="..." type="image/svg+xml">
  <img src="..." class="img-fluid img-thumbnail" alt="...">
</picture>